@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <button id="placeOrder" class="btn btn-primary">OK</button>
</div>
@section scripts{
    <script>
        document
        .getElementById("placeOrder")
        .addEventListener('click',function(event){
            placeOrder();
            event.preventDefault();
        });
    </script>
}